.mob-menu-list__link.current {
  @media screen and (max-width: 767px) {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .current::after {
    content: "";
    display: block;
    width: 100%;
    background-color: var(--accent-color);
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
  }
}
